.body {
  flex: 0.8;
  padding: 1.875rem;
  height: 100vh;
  color: white;
  background: linear-gradient(rgb(97, 87, 115), rgba(0, 0, 1));
}

.body__image {
  height: 20vw;
  margin: 0 1.25rem;
  box-shadow: 0 4px 3.75rem rgba(0, 0, 0, 0.5);
}
.body__info {
  display: flex;
  align-items: flex-end;
  padding: 0.625rem;
}

.body__infoText > h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 0.625rem;
}

.body__infoText > p {
  font-size: 0.875rem;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 1.25rem;
}

.body__shuffle {
  font-size: 5rem !important;
  margin-left: 3.125rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__songs {
  margin: 1.25rem -1.875rem;
}
