.sidebar {
  height: 100vh;
  color: white;
  min-width: 14.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  flex: 0.2;
  background-color: #040404;
}

.sidebar__logo {
  margin-right: auto;
  height: 4.375rem;
  padding: 0.875rem;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
.sidebar__title {
  text-align: center;
}
